
 <section id="about" class="about vcenter">
        <div class="container container-table">
            <div class="row vertical-center-row">
                <div class="col-lg-12 text-center">
                    <h2>One good thing about music, when it hits you, you feel no pain.</h2>
                    <p class="lead">Join the 9fy community, <a  href="#/register">Sign up</a> for free.</p>
                </div>
            </div>
        </div>
    </section>