@import url('../images/bg.jpg');
 html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

#content {
    width: 80%;
    height: 100%;
    padding-top: 2%;
    margin: auto;
}

.fb-like{
    position: relative;
    padding-top: 5%;
    left: 80%;
}